body {
    color: gray;
    font-family: monospace;
    background-color: black;
}

a {
    color: gray;
}

.layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

#fractal {
    position: relative;
    grid-column: 1/2;
    grid-row: 1;
}

#fractal > canvas {
    width: 100%;
    aspect-ratio: 16/10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.opacity05 {
    opacity: 0.5;
}

#info {
    color: lightgray;
    grid-column: 2;
    grid-row: 1;
}

#info > button {
    margin-top: 10px;
    width: 100%;
}

.cursor-default {
    cursor: default;
}

.value-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}
.value-container > div {
    grid-column: auto;
    grid-row: 1;
}

.footer {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}