body {
    background-color: black;
}

.layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

#fractal {
    position: relative;
    grid-column: 1/2;
    grid-row: 1;
}

#fractal > canvas {
    width: 100%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 1024px;
    height: 768px;*/
}

#info {
    color: lightgray;
    font-family: monospace;
    grid-column: 2;
    grid-row: 1;
}

#info > button {
    margin-top: 10px;
    width: 100%;
}