body {
    color: gray;
    font-family: 'Roboto Mono', 'Consolas', monospace;
    font-size: 0.9em;
    background-color: black;
}

a {
    color: gray;
}

input,
textarea,
select {
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    border: none;
    color: white;
    background-color: #444;
}

button {
    color: white;
    background-color: #444;
}

button:hover {
    background-color: #666;
}

.layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

#fractal {
    position: relative;
    grid-column: 1/2;
    grid-row: 1;
}

#fractal > canvas {
    width: 100%;
}

.a4-3 {
    aspect-ratio: 4/3;
}

.a16-10 {
    aspect-ratio: 16/10;
}

.a16-9 {
    aspect-ratio: 16/9;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.opacity05 {
    opacity: 0.5;
}

#info {
    color: lightgray;
    grid-column: 2;
    grid-row: 1;
    margin-top: 0.4em;
}

#info > button {
    margin-top: 10px;
    width: 100%;
}

.cursor-default {
    cursor: default;
}

.value-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}
.value-container > div {
    grid-column: auto;
    grid-row: 1;
}

.footer {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
